# Python Virtual Environment
.venv/

# VS Code
.vscode/

# Python
__pycache__/
*.pyc

# Logs
*.log

# Temporary files
*.tmp
*.temp

# Linux
*~

# macOS
.DS_Store

# Windows
Thumbs.db
desktop.ini

# Generated reports
reports/*.txt
reports/*.json